/* CSS reset, dit niet aanpassen! */

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

img {
    max-width: 100%;
    height: auto;
}

/* Hieronder mag je eigen CSS code */

@font-face {
    font-family: Graphik;
    src: url(fonts/Graphik-Regular-Web.woff2);
}

@font-face {
    font-family: Graphik;
    src: url(fonts/Graphik-Semibold-Web.woff2);
    font-weight: 600;
}

@font-face {
    font-family: Produkt;
    src: url(fonts/Produkt-Regular-Web.woff2);
}

@font-face {
    font-family: Produkt;
    src: url(fonts/Produkt-Bold-Web.woff2);
    font-weight: bold;
}

@font-face {
    font-family: Produkt;
    src: url(fonts/Produkt-Light-Web.woff2);
    font-weight: 300;
}

.content {
    margin-left: 20vw;
    margin-right: 20vw;
}

.top-header {
    display: flex;
    font-family: Graphik;
    font-size: 12px;
    color: #0000a4;
    line-height: 8px;
    justify-content: space-between;
}

.select {
    background-color: #0000a4;
    color: #01d572;
    font-family: Produkt;
    font-weight: bold;
    font-size: 14px;
    padding: 3px 8px 4px 14px;
    border-radius: 24px;
    text-align: center;
    letter-spacing: 0.5px;


}

.voordeel {
    background-color: #ebffee;
    border-radius: 26px;
    padding-left: 2px;
    padding-right: 8px;
    height: 32px;
    line-height: 0.5;
}

.align-left {
    display: flex;
    gap: 24px;
}

.header {
    display: flex;
    background-color: #0000a4;
    color: white;
    height: 72px;
    justify-content: space-between;
    align-items: center;
}

.bol {
    margin-left: 20vw;
    object-fit: contain;
    width: 82px;

}

.search-bar {
    font-family: Graphik;
    font-size: 14px;
    color: #929292;
    background-color: white;
    padding: 16px 316px 15px 26px;
    border-radius: 24px;
}

.search-icon {
    position: absolute;
    top: 50%;
    right: 16px;
    transform: translateY(-50%);
}

.search-bar-container {
    position: relative;
}


.header .align-center {
    display: flex;
    align-items: center;
    gap: 8px;
}

.header .align-right {
    display: flex;
    margin-right: 20vw;
    gap: 4px;
    align-items: center;
}

.inloggen {
    font-family: Graphik;
    font-size: 14px;
    margin-right: 1px;
}

.favorites {
    margin: 12px;
}

.shopping {
    margin: 12px;
}

.shophulp-container {
    color: #0000a4;
    background-color: white;
    font-family: Produkt;
    font-weight: bold;
    font-size: 18px;
    padding: 12px 16px 12px 16px;
    border-radius: 28px;
    display: flex;
    gap: 8px;
    line-height: 1.3;
}

.shophulp {
    margin: 0px;
}

.sparkle {
    width: 24px;
    height: 24px;
}

.navigation {
    border-bottom-style: solid;
    border-color: #afafaf73;
    border-width: 1px;
    height: 58px;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.nav-left {
    list-style: none;
    display: flex;
    font-family: Graphik;
    font-size: 14px;
    gap: 24px;
    margin-left: 20vw;
    padding: 0;
}

.arrow {
    width: 24px;
    height: 24px;
}

.nav-left li {
    display: flex;
    align-items: center;
    gap: 8px;
}

.nav-right {
    list-style: none;
    display: flex;
    font-family: Graphik;
    font-size: 12px;
    gap: 16px;
    margin-right: 20vw;

}

.nav-right li {
    display: flex;
    align-items: center;
    gap: 4px;
}

.vlag {
    object-fit: contain;
    width: 20px;
}

.arrow-right {
    width: 16px;
    height: 16px;
}

.center-content {
    margin-left: 20vw;
    margin-right: 20vw;
    background-color: #d2e1ff;
}

.najaarsdeals {
    font-family: Produkt;
    font-weight: 900;
    font-size: 48px;
    color: #0000a4;
    margin: 0;
}

.deals {
    font-family: Produkt;
    font-weight: 300;
    font-size: 48px;
    color: #0000a4;
    margin: 0;
}

.bekijk-nu {
    font-family: Graphik;
    font-weight: 600;
    font-size: 14px;
    color: white;
    background-color: #0000ff;
    width: 64px;
}